# Area Schools Analysis

---
### Setup

In [1]:
#  Dependencies
import pandas as pd
import numpy as np

In [2]:
#  File paths (Change as necessary)
source_school = "Resources/schools_complete.csv"
source_student = "Resources/students_complete.csv"

#  Get raw data 
raw_school = pd.read_csv(source_school)
raw_student = pd.read_csv(source_student)

#  Merge data and preview
raw_merge = pd.merge(raw_student, raw_school, how="left", on=["school_name", "school_name"])
raw_merge.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

---
### District Summary

In [3]:
#  Get the total number of schools

#  Get the total number of students

#  Calculate the total budget

#  Calculate the average math score

#  Calculate the avereage reading score

#  Calculate the average of math and reading scores

#  Calculate the number of passing math scores

#  Calculate the number of passing reading scores

#  Format numbers

#  Extract Summary

---
### School Summary

---
### Top Performing Schools (By Pass Rate)

---
### Bottom Performing Schools (By Pass Rate)

---
### Math Scores by Grade

---
### Reading Score by Grade

---
### Scores by School Spending

---
### Scores by School Size

---
### Scores by School Type